!!!
html(ng-app="myApp")
  head
    title {{title}}
    meta(charset='utf8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    base(href='/')
    link(
      rel='apple-touch-icon', sizes='144x144'
      href='/img/icon/apple-touch-icon-144x144.png', type='image/png')
    link(
      rel='apple-touch-icon', sizes='114x114'
      href='/img/icon/apple-touch-icon-114x114.png', type='image/png')
    link(
      rel='apple-touch-icon', sizes='72x72'
      href='/img/icon/apple-touch-icon-72x72.png', type='image/png')
    link(
      rel='apple-touch-icon'
      href='/img/icon/apple-touch-icon.png', type='image/png')
    link(href='/img/icon/favicon.png', rel='shortcut icon', type='image/png')
    link(href='/favicon.ico', rel='shortcut icon', type='image/x-icon')

    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/css/unicorn.main.css')
    link(rel='stylesheet', href='/css/unicorn.grey.css', class='skin-color')
    link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Oswald:400,700', type='text/css')
  body
    block body
    script(type="text/javascript")
      var all_issuers = !{JSON.stringify(issuers)};
